.btn {
   font-size: 1.4rem;
   font-weight: 700;
   color: #fff;
   height: 60px;
   width: 300px;
   border-radius: 60px;
   background: #7bed8d;
   margin: auto;

   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}
