.container {
   position: relative;
   height: 100%;
   max-width: 320px;
   margin: auto;
   padding: 60px 2px 120px 10px;

   @media (min-width: 768px) {
      max-width: 640px;
   }

   @media (min-width: 1170px) {
      max-width: 990px;
   }
}
