.title {
   font-size: 2rem;
   color: #748a9d;
   width: 100%;
   position: absolute;
   top: 30px;
   text-align: center;
}

.greenTitle {
   font-size: 2rem;
   color: #7bed8d;
   width: auto;
   margin: 0 auto;
   top: 30px;
   text-align: center;
}
