@import url('https://use.typekit.net/fss4vdp.css');

*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: acumin-pro-semi-condensed, sans-serif;
   font-size: 1.6rem;
   color: #a6bcd0;
   background: #404e5a;
   margin: 0;
   min-height: 100vh;
}

a {
   text-decoration: none;
   color: inherit;
}
